#game-action-bar
  #container
    div(class="row")
      div(class="col-xs-3")
        #slider(style="float:left")
          <input class="input-range" orient="vertical" type="range" step="0.5" value="5" min="1" max="10">
            span(class="range-value")
      div(class="col-xs-9")
        #action-buttons-group
          button(id="choose-dealer") ディーラー選択     
          button(id="fold") フォルド
          button(id="raise") レイズ 
          button(id="check") チェック 
          button(id="all-in") オールイン
          button(id="next") 次のゲームへ
          button(id="reset") ゲームリセット 
