extends layout

block append css
  link(rel="stylesheet" href="/assets/textillate/assets/animate.css")
  link(rel="stylesheet" href="/assets/bootstrap-select/bootstrap-select.min.css")
  link(rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css")
  link(rel="stylesheet" href="/stylesheets/oddsSystem.css")
  link(rel="stylesheet" href="/stylesheets/game-action-bar.css")

block content
  #container
    div(class="row" style="background-image: radial-gradient(#8b0000 60%, #6a0000 82%); width = 100vw; height = 100vh;")
      div(class="col-xs-11")
        canvas(id="canvas" style="height:100%; width:100%")
        //- ゲームの背景は配信側のウェカメにする
        video(id="video" autoplay="1" )
      div(class="col-xs-1")
        include ./gameSystem/actionBox.pug

    block append scripts
      script(src="https://webrtc.github.io/adapter/adapter-latest.js")
      script(src="/javascripts/gameSystem/video.js")
      script(scr="/javascripts/gameSystem/action.js")