doctype html
html
  head
    title= title
    block css 
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel="stylesheet" href="/stylesheets/bootstrap.min.css")
      link(rel="stylesheet" href="/stylesheets/responsive.css")
      link(rel="stylesheet" href="/stylesheets/jquery.mCustomScrollbar.min.css")
      link(rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
      link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen")
      link(rel="stylesheet", href="/stylesheets/video-style.css")
  body
    block content
