/* slider */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 0px;
}
.slider {
  -webkit-appearance: none;
    height: 100vh;
    border-radius: 10px;
    background: #ccc;
    outline: none;
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
}
.input-range {
    -webkit-appearance: none;
    height: 100vh;
    border-radius: 10px;
    background: #ccc;
    outline: none;
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
}

/* // Firefox Overrides */
::-moz-range-track {
    background: #ccc;
    border: 0;
}

input::-moz-focus-inner { 
  border: 10px; 
}


/* button-group */
#action-buttons-group button{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#000000;
  text-align:center;
  transition: all 0.2s;/* Make the buttons appear below each other */
}
button:hover{
  color:#000000;
  background-color: #3e8e41;
}
@media all and (max-width:30em){
  .button{
  display:block;
  margin:0.4em auto;
  }
}

.action-buttons-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.action-buttons-group button:hover {
  background-color: #3e8e41;
}